/* App container */
body{
  display: flex;
  justify-content: center; /* Horizontally center items */
  align-items: center; /* Vertically center items */
  height: 100vh; /* Make the body take up the full viewport height */
  margin: 0; /* Remove default body margin */

}
.App {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #5683f4;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: 0 auto;
}

/* Header */
h1 {
  color: #333;
}

/* Input container */
.input-container {
  margin-bottom: 20px;
}

.input {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.button {
  padding: 10px 20px;
  background-color: green;
  color: white;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

/* Weather data container */
.container {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

/* Error alert */
.alert {
  color: red;
  margin-top: 10px;
}

.input-container{
  margin-right:20px;

}